
@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm())
{
  <h1>@Html.ActionLink("Volgende Nacht", "VolgendeNacht", new { @class = "btn btn-primary", @style = "color:white" })</h1> 
}